.opt-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.opt-btn {
    min-width: 10rem;
    height: 10rem;
    background-color: orange;
    margin: 1rem;
    line-height: 10rem;
    text-align: center;
    cursor: pointer;
}