<div class="header"></div>
<div class="card-container">
    <app-card [style]="{backgroundColor: 'grey'}">
        <div class="menu-container">
            <div class="menu-item">Clients</div>
            <div class="menu-item">Data</div>
            <div class="menu-item">About</div>
        </div>
    </app-card>
    <app-card class="create-card" 
        (click)="createCard()"
    >
        <div>+</div>
    </app-card>

    <app-card *ngFor="let card of cards">
        <app-semantic-view-select></app-semantic-view-select>
    </app-card>
</div>
<router-outlet></router-outlet>
